body{
    background: rgb(37, 26, 6);
}

h1, h2{
    color: rgb(233, 205, 113);
}

.ketengah{
    margin: 40px auto;
    width: 1200px;
}

.kotak1{
    background: wheat;
    padding: 30px;
    float: left;
    margin: 40px;
    width: 200px;
    height: 200px;
    border-radius: 15px 13px 15px 13px;
}

.kotak2{
    background: wheat;
    padding: 10px;
    float: right;
    margin: 40px;
    width: 200px;
    height: 200px;
    border-radius: 20px 10px 80px 10px;
    -ms-transform: translate(60px,80px);
    -webkit-transform: translate(60px, 80px);
    transform: translate(60px, 80px);
}